@inherits LayoutComponentBase
@using project_milo.Services

<div id="particles-js">
</div>
<Nav />
@Body

@code {

    [Inject]
    public ParticlesService ParticlesService { get; set; }

    private async Task ShowParticles()
    {
        await ParticlesService.Particles();
    }

    protected override async Task OnInitializedAsync()
    {
        await ShowParticles();
    }
}