.sidebar span {
    padding-left: 5px;

}

.sidebar {
    font-family: nunito;
    background: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 350px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 999;
}
  
  .sidebar .profile_image{
    width: 350px;
    height: 350px;
  }

    .sidebar h4 {
        color: #070d34;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .sidebar a {
        color: #070d34;
        display: block;
        font-weight: 800;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

        .sidebar a:hover {
            color: #d2aa37;

        }
  
  .sidebar i{
    padding-right: 10px;
  }

  label {
    display: inline;
  }

    label #sidebar_btn {
        z-index: 1;
        color: #070d34;
        position: sticky;
        cursor: pointer;
        left: 8px;
        font-size: 20px;
        margin: 5px 0;
        transition: 0.5s;
        transition-property: color;
    }

        label #sidebar_btn:hover {
            color: #d2aa37;
        }
  
  #check:checked ~ .sidebar{
    left: -315px;
  }

  #check:checked ~ .content { 
      left: 352px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 280px;
    width: 80px;
    padding-top: 30px;
  }

    #check:checked ~ .sidebar a:first-of-type {
        padding-top: 60px;
    }



@media only screen and (max-width: 700px) {

    .content {
        margin-left: 35px;
    }
    
    .sidebar {
        left: -315px;
    }

    #check:checked ~ .sidebar {
        left: 0;
        z-index: 999;
        width: 100%;
    }

        #check:checked ~ .sidebar a span {
            display: inline;
            z-index: 999;
        }

        #check:checked ~ .sidebar a {
            z-index: 999;
            font-size: 20px;
            margin-left: 20px;
            width: 100%;
            padding-top: 30px;
        }

    #check:checked ~ .content {
        left: 60px;
    }

}